<md-dialog flex flex-gt-xs="50" flex-gt-sm="40" flex-gt-md="30">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nowy Klient</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-icon="close_white" aria-label="Anuluj"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Imię</label>
                    <input ng-model="vm.userInput.firstName" md-autofocus>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Nazwisko</label>
                    <input ng-model="vm.userInput.lastName">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Kod karty</label>
                    <input ng-model="vm.userInput.code">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button ng-click="vm.cancel()" class="md-primary">
                Anuluj
            </md-button>
            <md-button ng-click="vm.save(vm.userInput)" class="md-primary" type="submit">
                Zapisz
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>