<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <title>Zarządzanie obiektem sportowym</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="shortcut icon" type="image/x-icon" href="assets/icons/lepszy-klub-rounded-corners.ico">

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="assets/app.css">

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>

<body ng-app="membershipSoftware" layout="column" ng-controller="MainController as vm" ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" hide-gt-sm ng-click="vm.toggleList()" aria-label="Show User List">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h2 hide show-gt-sm >
                <a ng-href="#!/">Zarządzanie obiektem sportowym</a>
            </h2>
            <span flex></span>
            <md-button ng-click="vm.go('/customers')" hide show-gt-sm>
                Klienci
            </md-button>
            <md-button ng-click="vm.go('/check-ins')" hide show-gt-sm>
                Wejścia
            </md-button>
            <md-button ng-click="vm.go('/payments')" hide show-gt-sm>
                Płatności
            </md-button>
            <md-button class="md-icon-button" ng-disabled="true" aria-label="Szukaj">
                <md-icon md-svg-icon="search_white"></md-icon>
            </md-button>
            <!-- TODO autocomplete -->
            <md-autocomplete
                    md-selected-item="selectedItem"
                    md-search-text="searchText"
                    md-items="item in getMatches(searchText)"
                    md-item-text="item.display"
                    md-autofocus>
                <span md-highlight-text="searchText">{{item.display}}</span>
            </md-autocomplete>
            <md-menu md-position-mode="target-right target">
                <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-icon="more_vert"></md-icon>
                </md-button>
                <md-menu-content width="3">
                    <!-- TODO use ng-repeat -->
                    <md-menu-item hide-gt-sm>
                        <md-button ng-click="vm.go('/customers')">
                            Klienci
                        </md-button>
                    </md-menu-item>
                    <md-menu-item hide-gt-sm>
                        <md-button ng-click="vm.go('/check-ins')">
                            Wejścia
                        </md-button>
                    </md-menu-item>
                    <md-menu-item hide-gt-sm>
                        <md-button ng-click="vm.go('/payments')">
                            Płatności
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.go('/memberships')">
                            Oferta
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            Grupy
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            Ustawienia
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>

    <div flex layout="row" ng-controller="MainController as vm">

        <md-sidenav id="sidenav" ng-click="vm.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2">
            <md-list>
                <md-list-item>
                    <md-button ng-click="vm.newCustomer($event)">
                        <md-icon md-svg-icon="add"></md-icon>
                        Nowy klient
                    </md-button>
                </md-list-item>
                <md-divider></md-divider>
                <!-- TODO sort by last visit date, load asynchronously -->
                <md-list-item ng-repeat="it in vm.customers">
                    <md-button ng-click="vm.go('/customer/' + it.id)" ng-class="{'md-primary' : vm.isCustomerSelected(it)}">
                        <md-icon></md-icon>
                        {{it.firstName + " " + it.lastName}}
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <md-content flex id="content" ng-view></md-content>

    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>

    <script src="src/membership-software.module.js"></script>
    <script src="src/membership-software.config.js"></script>
    <script src="src/membership-software.constants.js"></script>
    <script src="src/membership-software.routes.js"></script>

    <script src="src/layout/layout.module.js"></script>
    <script src="src/customers/customers.module.js"></script>
    <script src="src/cards/cards.module.js"></script>
    <script src="src/memberships/memberships.module.js"></script>
    <script src="src/home/home.module.js"></script>
    <script src="src/check-ins/check-ins.module.js"></script>
    <script src="src/payments/payments.module.js"></script>

    <script src="src/layout/main.controller.js"></script>

    <script src="src/customers/customer.controller.js"></script>
    <script src="src/customers/new-customer-dialog.controller.js"></script>
    <script src="src/customers/customers.service.js"></script>

    <script src="src/cards/cards.service.js"></script>
    <script src="src/cards/card-list.component.js"></script>
    <script src="src/cards/card-list.controller.js"></script>

    <script src="src/memberships/memberships.service.js"></script>
    <script src="src/memberships/memberships.controller.js"></script>
    <script src="src/memberships/new-membership-dialog.controller.js"></script>

    <script src="src/home/home.controller.js"></script>

    <script src="src/check-ins/check-ins.controller.js"></script>
    <script src="src/check-ins/check-ins.service.js"></script>
    <script src="src/check-ins/new-check-in-dialog.controller.js"></script>
    <script src="src/check-ins/check-in-list.component.js"></script>
    <script src="src/check-ins/check-in-list.controller.js"></script>

    <script src="src/payments/payments.service.js"></script>
    <script src="src/payments/payments.controller.js"></script>
    <script src="src/payments/payment-list.component.js"></script>
    <script src="src/payments/payment-list.controller.js"></script>
    <script src="src/payments/customer-payment-list.component.js"></script>
    <script src="src/payments/customer-payment-list.controller.js"></script>
    <script src="src/payments/customer-new-payment-dialog.controller.js"></script>

</body>

</html>