<md-card>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ vm.customer.firstName + " " + vm.customer.lastName }}</h2>
        </div>
    </md-toolbar>
    <md-card-content>
        <md-input-container class="md-block">
            <label>Imię</label>
            <input ng-model="vm.customer.firstName">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Nazwisko</label>
            <input ng-model="vm.customer.lastName">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Email</label>
            <input ng-model="vm.customer.email">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Notatka</label>
            <textarea ng-model="vm.customer.note" md-maxlength="150" rows="5"></textarea>
        </md-input-container>
    </md-card-content>
    <!--<md-card-actions>-->
    <div layout="row">
        <div layout="row" layout-xs="column" flex="50" flex-xs>
            <md-button ng-click="vm.newCheckIn($event)">
                Nowe wejście
            </md-button>
            <md-button ng-click="vm.newPayment($event)">
                Nowa płatność
            </md-button>
        </div>
        <div layout="row" layout-xs="column" flex="50" flex-xs layout-align="end center">
            <md-button class="md-warn" ng-click="vm.deleteCustomer($event, vm.customer)">
                Usuń klienta
            </md-button>
            <md-button ng-click="vm.updateCustomer($event, vm.customer, vm.customer)">
                Zapisz zmiany
            </md-button>
        </div>
    </div>
    <!-- TODO toggle edit mode -->
    <!--</md-card-actions>-->
</md-card>

<div layout="column" layout-gt-md="row">
    <div layout="column" flex flex-gt-md="50">
        <md-card>
            <md-progress-linear md-mode="indeterminate" ng-disabled="!vm.isCardsRequestInProgress()"></md-progress-linear>
            <!-- original padding was 24px but md-progress-linear height is 5px -->
            <md-card-title style="padding-top: 19px;">
                <md-card-title-text>
                    <span class="md-headline">Karty</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <ms-card-list ms-cards="vm.cards" ms-on-edit="vm.editCard(card, event)" ms-on-delete="vm.deleteCard(card, event)"></ms-card-list>
            </md-card-content>
            <md-card-actions>
                <md-button ng-click="vm.newCard($event, vm.customer)">
                    Nowa karta
                </md-button>
            </md-card-actions>
        </md-card>

        <!-- TODO separate card for active memberships -->
        <md-card ng-cloak>
            <md-progress-linear md-mode="indeterminate" ng-disabled="!vm.isPaymentsRequestInProgress()"></md-progress-linear>
            <!-- original padding was 24px but md-progress-linear height is 5px -->
            <md-card-title style="padding-top: 19px;">
                <md-card-title-text>
                    <span class="md-headline">Płatności</span>
                </md-card-title-text>
            </md-card-title>
            <ms-customer-payment-list ms-payments="vm.payments" ms-on-edit="vm.editPayment(payment, event)" ms-on-delete="vm.deletePayment(payment, event)"></ms-customer-payment-list>
            <md-card-actions layout="row" ng-hide="vm.payments.length == 0">
                <a href class="md-button" ng-click="null" flex>
                    Pokaż więcej
                </a>
            </md-card-actions>
        </md-card>
    </div>

    <div layout="column" flex flex-gt-md="50">
        <md-card>
            <md-progress-linear md-mode="indeterminate" ng-disabled="!vm.isCheckInsRequestInProgress()"></md-progress-linear>
            <!-- original padding was 24px but md-progress-linear height is 5px -->
            <md-card-title style="padding-top: 19px;">
                <md-card-title-text>
                    <span class="md-headline">Wejścia</span>
                </md-card-title-text>
            </md-card-title>
            <ms-check-in-list ms-check-ins="vm.checkIns" ms-on-edit="vm.editCheckIn(checkIn, event)" ms-on-delete="vm.deleteCheckIn(checkIn, event)"></ms-check-in-list>
            <md-card-actions layout="row" ng-hide="vm.checkIns.length == 0">
                <a href class="md-button" ng-click="null" flex>
                    Pokaż więcej
                </a>
            </md-card-actions>
        </md-card>
    </div>
</div>