<md-list>
    <!-- TODO sort with membership end date -->
    <md-list-item ng-repeat="payment in $ctrl.payments | orderBy:'-timestamp'" class="md-3-line" ng-href="#/payments/{{payment.id}}">
        <div class="md-list-item-text" layout="column">
            <h3>Karnet "{{payment.membershipName}}" - {{payment.membershipNumberOfTrainings > 0 ? payment.membershipNumberOfTrainings
                + ' treningów' : 'open'}}, ważny przez {{payment.membershipDurationInDays}} dni</h3>
            <h4>{{payment.membershipPrice}} PLN, zarejestrowano {{payment.timestamp | date:'dd.MM.yyyy o HH:mm'}}</h4>
            <!-- TODO jeżeli ważny to na zielono, jeżeli nie to "wygasł {data}" na szaro -->
            <p>
                <span ng-switch="$ctrl.whenActive(payment)">
                    <span ng-switch-when="past">
                        Wygasł {{payment.membershipEndDate | date:'dd.MM.yyyy'}}
                    </span>
                    <span ng-switch-when="now" md-colors="{color: 'green'}">
                        Ważny do {{payment.membershipEndDate | date:'dd.MM.yyyy'}}
                    </span>
                    <span ng-switch-when="future" md-colors="{color: 'orange'}">
                        Ważny od {{payment.membershipStartDate | date:'dd.MM.yyyy'}}
                    </span>
                </span>
                <span ng-if="payment.membershipNumberOfTrainings > 0">(pozostało {{payment.membershipNumberOfTrainings - payment.checkInsSize}} wejść)</span>
            </p>
        </div>
        <!-- FIXME there is a bug, so buttons are out of window if it is too narrow. I probably should decide whether buttons or md-3-line -->
        <md-icon class="md-secondary" md-svg-icon="delete_forever" aria-label="Usuń" ng-click="$ctrl.deletePayment(payment, $event)"></md-icon>
        <md-icon class="md-secondary" md-svg-icon="mode_edit" aria-label="Edytuj" ng-click="$ctrl.editPayment(payment, $event)"></md-icon>
    </md-list-item>
</md-list>