<md-list>
    <md-list-item ng-repeat="payment in $ctrl.payments | orderBy:'-timestamp'" ng-href="#/payments/{{payment.id}}">
        <p>
            {{payment.payer.firstName + ' ' + payment.payer.lastName + ' zapłacił ' + payment.membershipPrice
            + ' PLN, w dniu ' + (payment.timestamp| date)}}
        </p>
        <md-icon class="md-secondary" md-svg-icon="delete_forever" aria-label="Usuń" ng-click="$ctrl.deletePayment(payment)"></md-icon>
        <md-icon class="md-secondary" md-svg-icon="mode_edit" aria-label="Edytuj" ng-click="$ctrl.editPayment(payment)"></md-icon>
    </md-list-item>
</md-list>